@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Hide scrollbar for Chrome, Safari and Opera */
  @font-face {
    font-family: "Oxygen";
    src: url("./assets/fonts/Oxygen/Oxygen-Regular.ttf");
  }
  @font-face {
    font-family: "Oxygen-Light";
    src: url("./assets/fonts/Oxygen/Oxygen-Light.ttf");
  }
  @font-face {
    font-family: "Oxygen-Bold";
    src: url("./assets/fonts/Oxygen/Oxygen-Bold.ttf");
  }
  /* Scrollbar styles */
::-webkit-scrollbar {
  height: 4px;
  width: 8px;
  background-color: #c5c6e5;
}

::-webkit-scrollbar-thumb {
  height: 4px;
  width: 8px;
  background-color: #2e3192;
  border-radius: 10px;
}

.sidenavScroll::-webkit-scrollbar-thumb {
  width: 4px !important;
  background-color: #2e3192;
  border-radius: 10px;
}

.sidenavScroll::-webkit-scrollbar {
  width: 4px !important;
  background-color: #c5c6e5;
}

.sidenavScroll::-webkit-scrollbar-x {
  display: none !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.d-scrollbar::-webkit-scrollbar {
  width: 2px !important;
}

.d-scrollbar::-webkit-scrollbar-thumb {
  width: 2px !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Remove the increase/decrease arrows from the input type number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* Scrollbar styles for Firefox */
/* Firefox requires vendor prefixes */
/* Height and width of the scrollbar */
html {
  scrollbar-width: thin;
  scrollbar-color: #2e3192 #c5c6e5;
}

/* Color of the scrollbar thumb */
html::-webkit-scrollbar-thumb {
  background-color: #2e3192;
}

/* Color of the scrollbar track */
html::-webkit-scrollbar-track {
  background-color: #c5c6e5;
}

/* Scrollbar styles for Edge */
/* Edge requires vendor prefixes */
/* Hide scrollbar initially */
body::-webkit-scrollbar {
  width: 0.4em;
}

/* Show scrollbar on hover */
body::-webkit-scrollbar-thumb {
  background-color: #2e3192;
}

body::-webkit-scrollbar-track {
  background-color: #c5c6e5;
}

/* Scrollbar styles for IE */
/* IE requires proprietary scrollbar styling */
/* Hide scrollbar initially */
body {
  scrollbar-base-color: #c5c6e5;
  scrollbar-face-color: #2e3192;
  scrollbar-track-color: #c5c6e5;
  scrollbar-arrow-color: #2e3192;
  scrollbar-shadow-color: #2e3192;
}

/* Show scrollbar on hover */
body:hover {
  scrollbar-face-color: #c5c6e5;
  scrollbar-track-color: #2e3192;
}
}
body {
  @apply font-oxygen;
}
.main-button {
  @apply text-center transition  text-white border-2 border-blue hover:bg-white hover:text-blue bg-blue inline-block text-[14px] leading-[23px] font-oxygen py-3  rounded-full font-bold w-full;
}
.login-container {
  @apply 2xl:w-[36%] xl:w-[36%] lg:w-[46%] md:w-[65%] w-[90%] px-[20px] lg:h-[600px] py-[40px] lg:px-[80px] rounded-[20px] shadow-[0px_0px_6px_6px_#E7EEF6];
}
.input-login {
  @apply focus:outline-none bg-[#E7EEF6] lg:w-[300px] m-auto grid justify-center mt-5 h-11 md:px-[89px] md:py-[13px] box-border placeholder:text-[14px] px-5 py-5 placeholder:text-center;
}
.content-area {
  @apply h-[300px] max-h-[300px];
}
.logo-area {
  @apply md:h-16 h-11;
}
.btn-area {
  @apply mt-6 py-2;
}
.router-link-exact-active svg,
.router-link-active svg {
  @apply text-blue;
}
.que-pagination {
  @apply flex justify-center  [&>.active]:text-white [&>.active]:rounded-full [&>.disabled]:text-site-grey [&>.active]:bg-blue  [&>.disabled]:cursor-not-allowed  [&>*]:cursor-pointer  md:[&>*]:px-2 md:py-1 md:[&>*]:mx-1 [&>*]:px-1 [&>*]:mx-[1px] font-oxygen font-bold;
}
.main-card {
  @apply h-auto w-auto bg-white transition delay-100 ease-in-out relative my-2 mx-1 font-oxygen rounded-[10px] px-2 py-2 md:px-4 md:py-4;
}
.account-setting input:not([type="checkbox"]):not([type="radio"]) {
  @apply form-input w-full h-9 placeholder-light-grey rounded-md border-[#82837e26];
}
.account-setting label {
  @apply block text-black py-3;
}
input[type="radio"] {
  @apply text-blue focus:outline-blue;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
